<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>

    <title>Dev Dir</title>
</head>
<body>

<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">DevDir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav mx-auto w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Developers</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Categories</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log Out</a>
            </li>
        </ul>
    </div>
</nav>


    <H1>Welcome to Dev Directory!</H1>

    <div class = "container">
        <div class = "row">
            <!--Loop - uses the "allDevelopers" list from Dev Controller/Dev Repository -->
            <div th:each="developer : ${developers}"
                 class = "col-md-3">
                <a th:href="@{'/developer/' + ${developer.name}}">
                <h4 th:text = "${developer.name}"></h4>
                <img th:src = "${developer.imageURL}"/>
                </a>
        </div>
      </div>
    </div>

</body>
</html>